.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    align-self: center;
}

.flexbox{
    flex-grow: 1;
    flex-shrink: 1;
    border: 10px;
    background-color: lightgray;
    opacity: 0.5;
    align-content: center;
}