.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    align-self: center;
}

.music{
    background-color: lightgrey;
}

.musicbox{
    background-color: lightgray;
    align-content: center;
    justify-content:stretch;
    opacity: 0.9;
    padding: 25px 50px;
    margin: 25px 50px;
    border:1px solid black;
    border-radius: 20px;
}

.flexbox{
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-grow: 1;
    flex-shrink: 1;
    background-color: white;
    align-content: center;
    border-radius: 35px;
}


.watch{
    background-color: white;
    font-size: xx-large;
    padding: 25px 50px;
    margin: 25px 50px;
    border:1px solid black;
    border-radius: 20px;
}

button:hover{
    opacity: 0.7;
}

@font-face {
    font-family: "My Custom Font";
    src: url(../04b_30/04B_30__.TTF) format("truetype");
}

.Inria{ /*for text fonts*/
    font-family: "Inria Serif", serif;
    font-weight: 700;
    font-style: italic;
    color: black;
    opacity: 0.8;
}
.custom{
    font-family: 'My Custom Font';
    font-weight: 700;
    font-style: italic;
    color: black;
    opacity: 0.8;
}